{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
<!--<p>Whats the purpose of this page?</p>-->
<!--<p>About me:</p>-->
<!--<p> Hi, I am Anton Sporrer and I have a masters in mathematics focus on applied mathematics and stochastics-->
    <!--minor in computor science. Other github projects.  Project presentation.    </p>-->

<p>Contact or Visit me via:</p>
<p>
    <a href="mailto:anton.sporrer@yahoo.com"><img class="alignnone wp-image-3082" style="border: 0;" src="{{ url_for('static', filename='images/email_circle.png') }}" alt="Email" width="50" height="50"></a>
    &nbsp;
    <a href="https://www.xing.com"><img class="alignnone wp-image-3080" style="border: 0;" src="{{ url_for('static', filename='images/xing_circle.png') }}" alt="Xing" width="50" height="50"></a>
    &nbsp;
    <a href="http://www.linkedin.com"><img class="alignnone wp-image-3079" style="border: 0;" src="{{ url_for('static', filename='images/linkedin_circle.png') }}" alt="Linkedin" width="50" height="50"></a>
    &nbsp;
    <a href="https://github.com/asporrer"><img class="alignnone wp-image-3081" style="border: 0;" src="{{ url_for('static', filename='images/github_circle.jpg') }}" alt="Github" width="50" height="50"></a>
</p>
{% endblock %}

