{% extends "base.html" %}

{% block title %}Influenza Forecasting{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fpslide.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pageFormattingInfluenza.css') }}">
{% endblock %}

{% block page_content %}

<h1>Influenza Forecasting</h1>

<div class="divContentTable">
    <ol>
        <li class="notCurrentLiContentTable"><a class="aContentTable" href="{{ url_for('render_influenza_project1') }}">Overview</a></li>
        <li> <a class="aContentTable" href="#">Influenza Wave Statistics</a> </li>
        <li class="notCurrentLiContentTable"> <a class="aContentTable" href="{{ url_for('render_influenza_project3') }}">Forecasting as a Classification Problem</a> </li>
    </ol>
</div>

<p>
    As mentioned on the previous page we now focus on the statistics of the number of reported influenza infections on a state level.
</p>

<p>
    First let's visualize the reported influenza cases per 100 000 inhabitants in the sixteen states of Germany.
    The plot is at first sight a bit messy. To <b>hide/unhide</b> particular states just <b>click on the state</b> in the legend. This will make the plot clearer.
    But this plot although a bit messy at first glance conveys at least two important messages. First, we can see that influenza occurs in waves. Approximately one wave per winter. The waves can rise and fall sharply.
    Second, the progressions of the waves in different states seem to coincide roughly. Thus a rising number of reported influenza infections in one state is an indicator of the rise of reported influenza infections in other states with currently low infection numbers.
</p>

<div id="vanillaDiv" class="scrollableFigureDiv" align="center">
    {{ script_vanilla|safe }}
    {{ div_vanilla|safe }}
</div>

<p>
    The next plot simply shows the state wise summed number of reported influenza infections where the outlier year 2009
    where the swine flu occured is excluded. The plot shows significant
    differences between states. Sachsen-Anhalt has roughly eight times as many infections from 2005 till 2015 when compared to Bremen.
    The reasons behind these difference are not obvious. Difference in vaccination or reporting behavior could be potential
    factors. An interesting result from training a machine learning model was that grouping the states according to their
    overall number of reported cases and training different models per group did worsen the predicitive power. This applies
    to both the classification approach as well as the regression ansatz. The group separation is indicated by the black
    horizontal lines. One reason for this could simply be that the decrease in training examples by only considering
    examples of one group outweighs the more similar influenza intensity of the members of one group.
</p>

<div align="center" class="scrollableFigureDiv">
    {{ script_overall_cases|safe }}
    {{ div_overall_cases|safe }}
</div>

<p>
    The below selection box is a so called multiselect box. That is to say by pressing and holding the left mouse botton multiple states can be selected.
    By pressing and holding ctrl individual states can be selected or deselected by clicking on them and finally the data on the right is updated by clicking the
    "Calculate Histogram" button. Each of the four histograms below contains a black curve. This black curve is the result of a kernel density estimation and represents the estimated
    density of the underlying quantity. The quantities wave start and wave end referred to in these plots are defined as the first week and the last week of the cold
    weather season where more than 2.0 reported influenza cases per 100 000 inhabitants occurred. Again the outlier year 2009 is not included. These plot should provide an
    overview on the distribution of the wave start, end, the severity and the duration of the wave. Were the duration is simple wave end - wave start in calender weeks.
    The severity of the wave is defined as the maximal height of the wave. It should be pointed out that the plot in the upper left corner narrows down the period
    in which a wave start is likely. Inferring from the histogram this period is the first eight weeks of the year.
</p>

<div class="wrapperSelectFigure4Plots">
    <div class="multiselectStates4Plots">
        <select class="multiSelect" id="waveStatisticsMultiselect" size={{stateSequence|length}} multiple>
            {% for item in stateSequence -%}
            <option value={{ item }}>{{ item }}</option>
            {%- endfor %}
        </select>
            <input type="submit" class="confirmMultiSelect" id="confirmMultiselectWaveStatistics" value="Calculate Histograms">
    </div>
    <div class="figureWithMultiselect4Plots">
        <div id="placeForWaveStatisticsFigure">
            {{ script_wave_stats|safe }}
            {{ div_wave_stats|safe }}
        </div>
    </div>
</div>

<p>
    As mentioned above the below selection box is a so called multiselect box. By pressing and holding the left mouse botton multiple states can be selected.
    By pressing and holding ctrl individual states can be selected or deselected by clicking on them and finally the data on the right is updated by clicking the
    "Calculate Histogram" button. As seen above the distribution of the wave start has most mass on the first eight weeks of the year.
    The following two plots show that there is a relation between the wave start and the wave severity and between the
    wave start and the wave length. In both cases this relation is roughly that the earlier the wave starts the more severe
    and longer the it is. Thus the typical period for a severe influenza outbreak can be narrowed down further.
</p>

<div class="wrapperSelectFigure2Plots">
    <div class="multiselectStates2Plots">
        <select class="multiSelect" id="waveStartVsIntensityMultiselect" size={{stateSequence|length}} multiple>
            {% for item in stateSequence -%}
            <option value={{ item }}>{{ item }}</option>
            {%- endfor %}
        </select>
        <input type="submit" class="confirmMultiSelect" id="confirmMultiselectWaveStartVsInensityStatistics" value="Calculate Boxplots">
    </div>
    <div class="figureWithMultiselect2Plots">
        <div id="placeForWaveStartVsIntensityFigure">
            {{ script_wave_start_vs_intensity|safe }}
            {{ div_wave_start_vs_intensity|safe }}
        </div>
    </div>
</div>

<p>
    This page focused on the reported influenza cases per state. The main results were that influenza infections occur in waves.
    The start and the end of these waves are quite similar in the different states of Germany but the severity and the overall
    number of infections varies strongly between states. Only a small portion of the wave starts occur outside the period from
    the second till the 8th week of the year and the tendency is that the earlier a wave starts the longer it lasts and the more severe it is.
    <br>
    On the next page we will shift our focus on the classification model.
</p>

<div class="pagination1">
  <a href="{{ url_for('render_influenza_project1') }}">&laquo;</a>
  <a href="{{ url_for('render_influenza_project1') }}">1</a>
  <a class="active" href="#">2</a>
    <a href="{{ url_for('render_influenza_project3') }}">3</a>
  <a href="{{ url_for('render_influenza_project3') }}">&raquo;</a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<script src="{{ url_for('static', filename='js/fpslide.js') }}"></script>
<script src="{{ url_for('static', filename='js/ajaxscripts.js') }}"> </script>
{% endblock %}