{% extends "base.html" %}

{% block title %}Influenza Project{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fpslide.css') }}">
{% endblock %}

{% block page_content %}
<h1>Influenza Project</h1>
<div class="divContentTable">
    <ol>
        <li class="notCurrentLiContentTable"> <a class="aContentTable" href="{{ url_for('render_influenza_project1') }}">What is the project about?</a> </li>
        <li class="notCurrentLiContentTable"> <a class="aContentTable" href="{{ url_for('render_influenza_project2') }}">What are the statistics of the influenza virus?</a> </li>
        <li> <a class="aContentTable" href="#">How to forecast the number of influenza infections?</a> </li>
    </ol>
</div>
<div class="wrapperSelectFigure">
    <!--<p>-->
        <!--<p>-->
            <!--The interested reader is refered to the code on link.-->
        <!--</p>-->
        <!--<p>-->
            <!--What is the predictive power of the data?-->
        <!--</p>-->
        <!--The <a href="https://survstat.rki.de/Content/Query/Create.aspx">Robert Koch Institute</a> provides the reported number of influenza cases in Germany on a state level per week. To detect an influenza infection a laboratory test has to be performed. Therefore only a fraction of people infected by and suffereing from influenza are detected. Despite this fact up to a factor the reported number of influenza cases should be a good proxy for the actual number of influenza cases.-->
        <!--The <a href="ftp://ftp-cdc.dwd.de/pub/CDC/observations_germany/climate/daily/kl/historical/">Deutscher Wetterdienst</a> provides weather data for Germany on a daily basis. For instance mean, min, max of temperatur, relative humidity and precipitation.-->
        <!--<a href="https://www.google.org/flutrends/about/">Google Flu Trends</a> provides numbers reflecting the frequency of influenza related search queries on a state level per week.-->
    <!--</p>-->
    <div>
        <select class="selectDropDown" id="featuresSingleSelect">
            {% for item in stateSequence -%}
            <option value={{ item }}>{{ item }}</option>
            {%- endfor %}
        </select>
    </div>
    <div id="featureFigureDiv">
        <div id="placeForFeaturesFigure">
            {{ script_features|safe }}
            {{ div_features|safe }}
        </div>
    </div>
</div>

<div class="pagination1">
  <a href="{{ url_for('render_influenza_project2') }}">&laquo;</a>
  <a href="{{ url_for('render_influenza_project1') }}">1</a>
    <a href="{{ url_for('render_influenza_project2') }}">2</a>
  <a class="active" href="#">3</a>
  <a href="#">&raquo;</a>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<script src="{{ url_for('static', filename='js/fpslide.js') }}"></script>
<script src="{{ url_for('static', filename='js/ajaxscripts.js') }}"> </script>
{% endblock %}